{% from "_macros.html" import render_field %}
{% extends template %}
{% block title %}Contact{% endblock %}

{% set social_list = [
  ('https://www.facebook.com/florian.levern.9', 'fa fa-facebook fa-2x', 'fb-icon', 'Facebook'),
  ('https://github.com/Mascarpone', 'fa fa-github fa-2x', 'git-icon', 'GitHub'),
  ('https://plus.google.com/u/0/101315220672404473103', 'fa fa-google-plus fa-2x', 'gplus-icon', 'Google+')
  ] -%}

{% block content %}

<div class="row">
  
  <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6" id="contact-form">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-info alert-dismissible" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
      
    <form id="contact-form" data-toggle="validator" role=form method="POST" {% if other %}action="{{ url_for('contact') }}"{% else %}action="{{ url_for('contact', other='ok') }}"{% endif %} enctype="multipart/form-data">  
      {{ form.hidden_tag() }}
      {{ render_field(form.name, required="true") }}
      {{ render_field(form.email, required="true") }}
      {{ render_field(form.obj, required="true") }}
      {{ render_field(form.text, required="true", rows="5") }}
      <div id="captcha" class="pull-left"></div>
      <button id="contact-form-submit" type="submit" class="btn btn-warning btn-lg btn-submit pull-right disabled" title="Check the Google reCaptcha to enable">Submit</button>
    </form>
    
  </div>
  
  <div class="col-sm-1 hidden-xs">
    <div class="vertical-bar"></div>
  </div>
  
  <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-5" id="infos">
    
    <div id="contact-infos">
      <span id="title">Informations</span>
      <br />
      <label>Address</label>
      <div class="content">4-4-6 Tarumachi, Kohoku-ku<br /> Yokohama, Kanagawa, 222-0001 <br /> JAPAN</div>
      <label>E-mail</label>
      <span class="e-mail" data-user="ten.nairolf.nrevel" data-website="moc.liamg"></span>
    </div>
    
    <div class="social">
      <ul>
        {% for url, icon, style, name in social_list %}
        <a target="_blank" href="{{ url|e }}">
          <li class="{{ style|e }} circle">
            <i class="{{ icon|e }}"></i>
            <span class="name">{{ name|e }}</span>
          </li>    
        </a>
        {% endfor %}
      </ul>
      
    </div>
  </div>
  
</div>

{% endblock %}