{% extends template %}
{% set active_page = "contact" %}
{% block title %}Contact{% endblock %}

{% set social_list = [
  ('https://www.linkedin.com/in/flevern/', 'fa fa-linkedin fa-2x', 'linkedin-icon', 'LinkedIn'),
  ('https://github.com/Mascarpone', 'fa fa-github fa-2x', 'git-icon', 'GitHub'),
  ] -%}

{% block content %}

<div class="row">

  <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-5" id="infos">

    <div id="contact-infos">
      <span id="title">Information</span>
      <br />
      <label>Address</label>
      <div class="content">45 rue de paris<br />92100 Boulogne-Billancourt<br />FRANCE</div>
      <label>E-mail</label>
      <span class="e-mail" data-user="ten.nairolf.nrevel" data-website="moc.liamg"></span>
    </div>

    <br />

    <div class="social">
      <ul>
        {% for url, icon, style, name in social_list %}
        <a target="_blank" href="{{ url|e }}">
          <li class="{{ style }} circle">
            <i class="{{ icon }}"></i>
            <span class="name">{{ name }}</span>
          </li>
        </a>
        {% endfor %}
      </ul>
    </div>

  </div>

</div>

{% endblock %}
