{% extends template %}
{% block title %}Education{% endblock %}
{% block content %}

<div class="col-md-10">

Afficher un bootstrap affix sur la droite comme sur le site de bootstrap

<div class="line">
  <div class="education-title" id="schools">Schools</div>
</div>

<div class="school-container">
  <div class="school-period">années d'étude à l'école</div>
  
  <div class="school-title">Nom de l'école</div>
  <img class="school-img" src="" alt="image de l'école avec logo" />
  
  <div class="school-summary">résumé de ce que j'ai suivi à l'école</div>
  
  <div class="showmore">
    <div class="school-description">description précise des cours suivis</div>
    <div class="school-results">liste déroulante pour voir les semestres puis popup bootstrap pour montrer mes notes</div>
    Liste des projets:
    <ul class="school-project">
      <li>
        <div class="project-summary"></div>
        <a href="#" class="project-link">lien scrollant jusqu'au bon projet dans la page</a>
      </li>
    </ul>
  </div>
</div>

<div class="line">
  <div class="education-title" id="projects">Projects</div>
</div>

<div class="project-container">
  <div class="project-period">date de réalisation du projet</div>
  <div class="project-subject">
    <div class="subject">sujet détaillé et contexte du projet</div>
    <div class="objectives">objectifs du projet</div>
    <ul class="project-links">
      <li><a href="#">link to subject</a></li>
    </ul>
  </div>
  <div class="project-result">
    <div class="comment">commentaire sur mon travail</div>
    <div class="screenshots">screenshots de ce que j'ai fait</div>
    <div class="results-link">si open source, donner les rapports et les sources</div>
  </div>
</div>

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

</div>

<div class="col-md-2">
  <nav class="affix">
    <ul class="nav">
      <li class="active">
        <a href="#schools">Schools</a>
        <ul class="nav">
          <li class="active">
            <a href="#school1">school1</a>
          </li>
          <li>
            <a href="#school2">school2</a>
          </li>
        </ul>
      </li>
      <li> 
        <a href="#Schools">Projects</a>
      </li>
    </ul>
  </nav>
</div>

{% endblock %}