{% extends template %}
{% block title %}Education{% endblock %}
{% block content %}

<div class="modal fade" id="grades" tabindex="-1" role="dialog" aria-labelledby="modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-label">Grades</h4>
      </div>
      <div class="modal-body">
        <div class="btn-group">
          <button type="button" class="btn btn-info btn-select dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select a grade sheet <span class="caret icon-right"></span>
          </button>
          <ul class="dropdown-menu select-menu"></ul>
        </div>

        <br /><br />
        
        <div class="grades-body"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-10">
  
  <br />
  
  <div class="line">
    <div class="education-title" id="schools">Schools</div>
  </div>
  
  <br />
  
  <ul id="school-list" class="list-inline">
    {% for school in schools %}
    <!-- adapting the color of each school -->
    <style>
      ul#school-list > li#{{ school['name'] }} .front:before { border-color: #fff #fff #{{ school['corner-color'] }} #{{ school['corner-color'] }}; background: #{{ school['corner-color'] }}; }
      ul#school-list > li#{{ school['name'] }} .front { background-color: #{{ school['color'] }}; }
      ul#school-list > li#{{ school['name'] }} .back:before { border-color: #fff #{{ school['corner-color'] }} #{{ school['corner-color'] }} #{{ school['corner-color'] }}; }
      ul#school-list > li#{{ school['name'] }} .back { background-color: #{{ school['corner-color'] }}; }
    </style>
    <li id="{{ school['name'] }}">
        <div class="front">
          <div class="school-period">{{ school['date'] }}</div>
          
          <div class="school-title">{{ school['name'] }}</div>
          <img class="school-img" src="{{ url_for('static', filename='images/'+school['img']) }}" alt="image de l'école avec logo" />
          
          <div class="school-summary">{{ school['summary'] }}</div>
          <div class="showmore-button">Show more<i class="fa fa-chevron-left"></i></div>
        </div>
        <div class="back">
          <div class="school-description">{{ school['description'] }}</div>
          
          <button type="button" data-toggle="modal" class="btn btn-warning school-results pull-right" data-target="#grades" data-school="{{ school['name'] }}" data-grades="{{ school['grades'] }}">Grades</button>
          
          <br /><br />
          
          <div class="school-projects">
          <span>List of Projects</span>
          <ul class="list-inline">
            {% for project in school['projects'] %}
            <li {% if school['projects'].index(project)%5 == 0 %}class="nopoint"{% endif %}><a href="#{{ project }}">{{ project }}</a></li>
            {% endfor %}
          </ul>
          </div>
          
          <div class="showmore-button">Show less<i class="fa fa-chevron-left"></i></div>
          
        </div>
    </li>
    {% endfor %}
  </ul>
  
  <br /><br />
  
  <div class="line">
    <div class="education-title" id="projects">Projects</div>
  </div>
  
  <br />
  
  <ul>
    {% for project in projects %}
    <li class="project-container" id="{{ project['name'] }}">
      <div class="project-period">{{ project['date'] }}</div>
      <div class="project-subject">
        <div class="subject">{{ project['subject'] }}</div>
        <ul class="objectives">
          {% for obj in project['objectives'] %}
          <li>{{ obj }}</li>
          {% endfor %}
        </ul>
        <ul class="project-links">
          {% for link in project['links'] %}
          <li><a target="_blank" href="{{ link['url'] }}">{{ link['caption'] }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="project-result">
        <div class="comment">{{ project['comment'] }}</div>
        <ul class="screenshots">
          {% for ss in project['screenshots'] %}
          <img src="{{ url_for('static', filename='images/'+ss) }}" alt="project screenshot" />
          {% endfor %}
        </ul>
        <div class="results-link">si open source, donner les rapports et les sources</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

<nav class="col-md-2 hidden-sm hidden-xs" id="scrollspy">
  <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="70">
    <li>
      <a href="#schools">Schools</a>
      <ul class="sublist">
        {% for sn in schoolsnames %}
        <li><a href="#{{ sn }}">{{ sn }}</a></li>
        {% endfor %}
      </ul>
    </li>
    <li>
      <a href="#projects">Projects</a>
      <ul class="sublist">
        {% for pn in projectsnames %}
        <li><a href="#{{ pn }}">{{ pn }}</a></li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</nav>

{% endblock %}

