{% extends template %}
{% block title %}Education{% endblock %}
{% block content %}

<div class="col-md-10">
  
  <div class="line">
    <div class="education-title" id="schools">Schools</div>
  </div>
  
  <ul>
    {% for school in schools %}
    <li class="school-container" id="{{ school['name'] }}">
      <div class="school-period">{{ school['date'] }}</div>
      
      <div class="school-title">{{ school['name'] }}</div>
      <img class="school-img" src="{{ url_for('static', filename='images/'+school['img']) }}" alt="image de l'école avec logo" />
      
      <div class="school-summary">{{ school['summary'] }}</div>
      
      <div class="showmore">
        <div class="school-description">{{ school['description'] }}</div>
        <ul class="school-results">
          {% for grade in school['grades'] %}
          <li>{{ grade['period'] }}</li>
          {% endfor %}
        </ul>
        Liste des projets:
        <ul class="school-project">
          {% for project in school['projects'] %}
          <li>
            <a href="#{{ project }}" class="project-link">{{ project }} - period</a>
            <div class="project-summary"></div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </li>
    {% endfor %}
  </ul>
  
  <div class="line">
    <div class="education-title" id="projects">Projects</div>
  </div>
  
  <ul>
    {% for project in projects %}
    <li class="project-container" id="{{ project['name'] }}">
      <div class="project-period">{{ project['date'] }}</div>
      <div class="project-subject">
        <div class="subject">{{ project['subject'] }}</div>
        <ul class="objectives">
          {% for obj in project['objectives'] %}
          <li>{{ obj }}</li>
          {% endfor %}
        </ul>
        <ul class="project-links">
          {% for link in project['links'] %}
          <li><a target="_blank" href="{{ link['url'] }}">{{ link['caption'] }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="project-result">
        <div class="comment">{{ project['comment'] }}</div>
        <ul class="screenshots">
          {% for ss in project['screenshots'] %}
          <img src="{{ url_for('static', filename='images/'+ss) }}" alt="project screenshot" />
          {% endfor %}
        </ul>
        <div class="results-link">si open source, donner les rapports et les sources</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

<nav class="col-md-2" id="scrollspy">
  <ul class="nav nav-pills nav-stacked" role="tablist" data-spy="affix" data-offset-top="70">
    <li>
      <a href="#schools">Schools</a>
      <ul class="sublist">
        {% for sn in schoolsnames %}
        <li><a href="#{{ sn }}">{{ sn }}</a></li>
        {% endfor %}
      </ul>
    </li>
    <li>
      <a href="#projects">Projects</a>
      <ul class="sublist">
        {% for pn in projectsnames %}
        <li><a href="#{{ pn }}">{{ pn }}</a></li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</nav>

{% endblock %}
