{% if grades %}

  <h3>{{ grades['title'] }}</h3>
  <h4>{{ grades['header'] }}</h4>
  {% if grades['grades'] %}
  <div class="pull-right">
    <i>
      {% if grades['ranking'] %}
      Ranking: <b>{{ grades['ranking'] }}</b>
      <br />
      {% endif %}
      {% if grades['average'] %}
      Average grade: <b>{{ grades['average'] }}{% if grades['max'] %}/{{ grades['max'] }}{% endif %}</b>
      <br />
      {% endif %}
      {% if grades['gpa'] %}
      GPA: <b>{{ grades['gpa'] }}</b>
      {% endif %}
    </i>
  </div>

  <br /><br /><br /><br />

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Class name</th>
        <th>Mark</th>
      </tr>
    </thead>
    <tbody>
      {% for grade in grades['grades'] %}
      <tr>
        <td>{{ grade['name'] }}</td>
        <td>{{ grade['mark'] }}{% if grades['max'] %}/{{ grades['max'] }}{% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

{% else %}
  <img class="modal-img" src="static/images/modal.png" />
{% endif %}
