{% extends template %}
{% set active_page = "index" %}
{% block title %}Home{% endblock %}
{% block social %}{% endblock %}

{% block header_navbar %}
  {% block header %}
  <div class="container">
    <div class="row" style="margin: 0;">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="scene_element scene_element--fadein" id="index-title">
            Florian Le Vern
          </div>
        </div>
      </div>
    </div>
    {% endblock %}

    {% block navbar %}
    <ul class="noselect col-xs-12 col-sm-8 col-sm-offset-2" id="index-navbar">
      {% block navbar_list %}
      {{ super() }}
      {% endblock %}
    </ul>
    {% endblock %}
{% endblock %}


{% block content %}
<div class="row">
    <img id="index-image" class="noselect" src="static/images/front.png" alt=""/>
</div>
{% endblock %}

{% block footer %}{% endblock %}
