<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>flevern - {% block title %}{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="portfolio, flevern, Florian, Enseirb, Informatique, Le Vern">
    <meta name="description" content="Florian Le Vern Portfolio">
    <meta name="author" content="flevern">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/keyframes.css">
    <link rel="stylesheet" href="static/css/transitions.css">
    <link rel="shortcut icon" href="static/images/favicon.ico">
    {% endblock %}
  </head>

  {% set navigation_bar = [
    ('/education', 'education', 'Education'),
    ('/resume', 'resume', 'Resume'),
    ('/contact', 'contact', 'Contact')
  ] -%}
  {% set active_page = active_page|default('index') -%}

  <body data-spy="scroll" data-target="#scrollspy" data-offset="15">

    <div class="m-scene" id="transitions">

      {% block header_navbar %}
      <nav class="navbar navbar-default">
        <div class="container">
          {% block header %}
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="noselect" href="index.html">
              <div id="title-container">
                <div id="halfclip">
                  <div class="halfcircle" id="clipped"></div>
                </div>
                <div class="halfcircle" id="fixed"></div>
                <div id="text" class="noselect">
                  Flv
                </div>
              </div>
            </a>
          </div>
          {% endblock %}
          {% block navbar %}
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              {% block navbar_list %}
              {% for route, view, caption in navigation_bar %}
              <li{% if route == active_page %} class="active"{% endif %}>
              <a href="{{ view }}.html" class="nav-{{ view }}">{{ caption }}</a>
            </li>
            {% endfor %}
            {% endblock %}
          </ul>
        </div><!--/.nav-collapse -->
        {% endblock %}
      </div>
    </nav>
    <hr />
    {% endblock %}


    {% block container %}
    <div class="container" id="content">
      <div class="scene_element scene_element--fadein">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    {% endblock %}

    {% block footer %}
    <div id="footer">
      <div class="container">
        {% block footercontent %}
        <div class="row">
          <div class="col-md-4-offset-8">
            <p align="right">
              <img id="footer-image" class="noselect" src="static/images/miniporo.png" alt=""/>
              Copyright &copy; 2021, Florian Le Vern
            </p>
          </div>
        </div>
        {% endblock%}
      </div>
    </div>
    {% endblock %}

  </div>

  {% block modal %}
  <div class="modal fade" id="grades" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="modal-label">Grades</h4>
        </div>
        <div class="modal-body">
          <div class="btn-group">
            <button type="button" class="btn btn-info btn-select dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select a grade sheet <span class="caret icon-right"></span>
            </button>
            <ul class="dropdown-menu select-menu"></ul>
          </div>

          <br /><br />

          <div class="grades-body"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

  {% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" integrity="sha512-AFwxAkWdvxRd9qhYYp1qbeRZj6/iTNmJ2GFwcxsMOzwwTaRwz2a/2TX225Ebcj3whXte1WGQb38cXE5j7ZQw3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Flip/1.1.1/jquery.flip.min.js" integrity="sha512-WE+s06154mvThk4Dl6c8sSK1FXxZbC4S/vLsweSlMvegRTM5+zFEM+rAZy0Pjj10wc/OtQXp2TMCUyRTPdtEgQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="static/js/main.js"></script>
  {% endblock %}

  </body>
</html>
