{% extends "layout.html" %}
{% set active_page = "resume" %}
{% block title %}Resume{% endblock %}
{% block content %}

<div class="col-xs-10 resume-img">
  <img class="noselect" src="static/images/cv.jpg" alt="" />
</div>
<div class="col-xs-2 resume">
  <a target="_blank" href="static/images/cv.pdf">
    <i class="fa fa-file-pdf-o fa-5x hidden-xs hidden-sm" aria-hidden="true"></i>
    <i class="fa fa-file-pdf-o fa-4x hidden-xs hidden-md hidden-lg" aria-hidden="true"></i>
    <i class="fa fa-file-pdf-o fa-3x hidden-sm hidden-md hidden-lg" aria-hidden="true"></i>
    <br class="visible-sm" />
    <h4 class="hidden-xs hidden-sm">Download</h4>
    <h5 class="hidden-xs hidden-md hidden-lg">Download</h5>
    <h6 class="hidden-sm hidden-md hidden-lg">Download</h6>
  </a>
</div>

{% endblock %}
